-content_for :sidebar do
  = rounded_box  :div_class => 'bluegray-bg'  do
    =render :partial => 'messages/sidebar_nav'
    %div.clear

= rounded_box  :div_class => 'bluegray-bg'  do
  =box do 
    %h3= :compose_message.l
    
    = error_messages_for :message
    
    =render :partial => 'form', :locals => {:message => @message, :user => @user}
