<% content_for :body_id, "body-about" %>
<%=  rounded_box :div_class => 'bluegray-bg hfeed' do %>
<div class='about'>
  <h1>About Continuity Control</h1>
  <div class='left' style='width:329px'>
    <span style='font-weight: bold; font-size: 16px;'>
      Mission
    </span>
    <P>
      Our mission is to help community financial institutions survive and thrive by cutting their
            <%= link_to "Compliance Tax™", "http://www.compliancetax.com" %>

      through the use of cutting edge technology.
    </P>
  </div>
  <div style='margin-left: 348px'>
    <span style='font-weight: bold; font-size: 16px;'>
      History
    </span>
    <P>
      We were founded in 2008 by banking and compliance veterans with decades of first hand experience with regulators and continuity. Since the introduction of Control more than 1000 community financial institution executives have used Control to ask, answer and share, getting compliance work done.
    </P>
  </div>
  <div class='clear' style='margin-top: 20px;'></div>
  <div class='left' style='width:329px'>
    <span style='font-weight: bold; font-size: 16px;'>
      Overview
    </span>
    <P>
      Continuity Control is a financial technology company, but much more then a software vendor. Through our unique approach we provide applications to reduce the work of compliance, while insulating your institutions from the cost of regulatory changes through our compliance guarantee. This relationship puts our interests in lockstep with one another. We said unique and with our guarantee, we put our money where our mouth is.
    </P>
  </div>
  <div style='margin-left: 348px; '>
    <span style='font-weight: bold; font-size: 16px;'>
      Leadership
    </span>
    <P>
      We’ll put our innovation credentials up against anyone (pardon our bragging). Having changed the information security industry with security-in-the-cloud in the late ‘90s, we’re now tackling compliance. Since we started, we’ve taken the Best Value/ROI at IDC, the OnDemand 100 and recently Finovate where we were called out as one of the 5 most interesting companies in financial services.
    </P>
    <br />
  </div>
  <h2 style='margin-top:0px;'>MANAGEMENT</h2>
  <div class='left' style='width:329px'>
    <h3>Andy Greenawalt</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      Founder and CEO
    </span>
    <br />
    <a href="http://www.linkedin.com/in/andygreenawalt"><img style="border:0px" src="images/social_networking_iconpack/linkedin_16.png" alt="Andy LinkedIn" width="14" /></a> <a href="http://gnosticadvetures.blogspot.com/"><img style="border:0px" src="images/social_networking_iconpack/blogger_16.png" alt="Andy Blog" width="14" /></a> <a href="http://twitter.com/andygreenawalt"><img style="border:0px" src="images/social_networking_iconpack/twitter_16.png" alt="Andy Twitter" width="14" /></a>
    <br />
    <p>
      Andy founded Continuity Control after 10 years as Founder and CTO of Perimeter eSecurity. Perimeter eSecurity pioneered the security as a service industry and has been one of the fastest growing companies in the country with over a dozen awards to its credit. While at Perimeter, Andy also served on the board of directors. Andy is currently the President of Gnostic Ventures, a company that advises on security investments, speaks on S@S and the creation of value, and invests in S@S companies. He studied philosophy and linguistics at UMass Amherst and is an Entrepreneur Partner at CTech.
    </p>
  </div>
  <div style='margin-left: 348px'>
    <h3>Jim Kisch</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      CSO
    </span>
    <br />
    <a href="http://www.linkedin.com/in/kisch"><img style="border:0px" src="images/social_networking_iconpack/linkedin_16.png" alt="Jim LinkedIn" width="14" /></a> <a href="http://twitter.com/jimkisch"><img style="border:0px" src="images/social_networking_iconpack/twitter_16.png" alt="Jim Twitter" width="14" /></a><br />
    <p>
      Including positions as CEO of Business IQ, President of the MBA Consulting Group and CTO for the Minnesota Bankers Association, Jim has over 18 years of banking industry experience, with 12 years of focus in the disciplines of bank operations and information technology management.  He is a faculty member at Graduate School of Banking (GSB), CU-Boulder and past faculty member at  the GSB, UW-Madison. He&#8217;s been a speaker and teacher at numerous banking education programs including Texas Bankers School of Operations and Minnesota Bankers School of Operations. Jim obtained his BS in Economics from U of M &#8211; Minneapolis and a degree from the Graduate School of Banking, UW-Madison.
    </p>
  </div>
  <div class='left' style='width:329px'>
    <h3>Karen Lindsey</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      CFO &amp; SVP Human Resources
    </span>
    <br />
    <a href="http://www.linkedin.com/pub/karen-ewing-lindsey/0/1b1/a01"><img style="border:0px" src="images/social_networking_iconpack/linkedin_16.png" alt="Karen LinkedIn" width="14" /></a>
    <br />
    <p>
      Karen&#8217;s extensive background as an executive in finance, operations and project management in fast-paced, ever-changing, technical and creative environments is a perfect fit for her position as CFO and SVP of Human Resources at Continuity Control. Prior to joining Continuity Control, Karen held positions at ESPN, Warner Bros. and Disney. She is the President of Lindsey Resources, a professional comprehensive coaching and consulting services company. Karen holds a BS in Finance, an MBA in Management &amp; Organizational Behavior and is a certified Organizational &amp; Executive Coach from New York University.
    </p>
  </div>
  <div style='margin-left: 348px'>
    <h3>Joel Nimety</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      SVP Tech
    </span>
    <br />
    <a href="http://www.linkedin.com/in/jnimety"><img style="border:0px" src="images/social_networking_iconpack/linkedin_16.png" alt="Joel LinkedIn" width="14" /></a> <a href="http://twitter.com/jnimety"><img style="border:0px" src="images/social_networking_iconpack/twitter_16.png" alt="Joel Twitter" width="14" /></a><br />
    <p>
      With over five years of software architecture experience, Joel has led the Continuity Control team through the development and implementation of Control and its primary infrastructure.  As SVP of Technology and Director of Operations, Joel has introduced fully automated systems to integrate operations, including a migration to the Ruby on Rails platform.  Joel previously held the position of Sr. Product Architect at Perimeter eSecurity, where he designed and administered the Perimeter Email Gateway, and authored MailSafe, a transparent encrypted email solution.  An active Open Source advocate and contributor, Joel carries a Bachelors degree in Computer Engineering from the University of Michigan.
    </p>
  </div>
  <h2>BOARD OF DIRECTORS</h2>
  <div class='left' style='width:329px'>
    <h3>Michael D. Nicastro</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      President, Central CT Chambers of Commerce
    </span>
    <p>
      During his 14 year tenure at Open Solutions, Michael served as Senior Vice President and Chief Marketing Officer  through their rapid growth.
      <br />
      Mike spent 10 years with National Cash Register (NCR), as the National Product Manager of Platform/Branch Automation. While there, Mr. Nicastro was one of 15 employees worldwide to win the &#8220;Chairman&#8217;s Customer Satisfaction Award&#8221;. Mr. Nicastro spent the nine years prior to NCR working in the banking industry with Connecticut based Bristol Savings Bank, as well as New York based Citicorp.
    </p>
  </div>
  <div style='margin-left: 348px'>
    <h3>Anil Vasagiri</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      Director, Investments Connecticut Innovations
    </span>
    <br />
    <p>
      Joining Connecticut Innovations in 2007, Anil has led CI’s investment in ExeCue, helping to relocate the company from New York to Connecticut.  He serves on the boards of ExeCue and Continuity Control and is a board observer at Acumentrics.
    </p>
    <p>
      As a senior consultant at IBM, Anil evaluated investment opportunities in new technologies and worked on engagements to streamline business operations. As a manager at Oracle, Anil led product development initiatives and solution implementation teams for several client engagements.
    </p>
  </div>
  <div class='left' style='width:329px'>
    <h3>Kent Goldman</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      Principal, First Round Capital
    </span>
    <br />
    <p>
      Most recently Kent was a member of the Corporate Development team at Yahoo, where he led the company’s acquisition of Zimbra. Prior to that, he led business strategy efforts for Yahoo’s Community products which included Yahoo.com, My Yahoo and Yahoo Mail.
    </p>
    <p>
      Before joining Yahoo in 2004, Kent was an institutional investor focusing on early-stage consumer technology. Among the firm’s investments with which he worked most closely was Oddpost, one of the first web-based services to demonstrate the functionality of a desktop application. Oddpost’s technology now serves as the basis for the Yahoo Mail interface.
    </p>
  </div>
  <div style='margin-left: 348px'>
    <h3>Andy Greenawalt</h3>
    <span style='font-weight: normal; font-size: 14px;'>
      Founder &amp; CEO Continuity Control
    </span>
    <br />
    <p>
      Prior to Continuity Control, Andy Founded and was the CTO of Perimeter eSecurity. Perimeter eSecurity pioneered has been one of the fastest growing companies in the country with over a dozen awards to its credit. While at Perimeter, Andy also served on the board of directors.
    </p>
    <p>
      Andy is currently the President of Gnostic Ventures, a company that advises on security investments, speaks on S@S and the creation of value, and invests in S@S companies.
    </p>
  </div>
  <div class='clear'></div>
</div>
<% end %>

