<%=  render :partial => 'about_nav' %>

<div id='yui-main'>
  <div class='yui-b'>
        <%= box do %>
    <h3>
            <%= :advertise_on.l %>

            <%= " #{AppConfig.community_name}" %>

    </h3>
    <% end %>

  </div>
</div>
