= rounded_box  :div_class => 'bluegray-bg'  do
- navspan = '<span class="navigation_settings_gear"></span>'
  %h3=:view.l
  %ul
    %li=link_to 'Dashboard', dashboard_user_path(@user)
    %li
      =link_to :my_profile.l, user_path(@user)
      =link_to navspan, edit_user_path(@user), :class => ''
    %li
      =link_to :my_blog.l, user_posts_path(@user)
      =link_to navspan, manage_user_posts_path(@user)
    %li
      =link_to :my_account.l, edit_account_user_path(@user)
      =link_to navspan, edit_account_user_path(@user)
    %li
      =link_to :my_friends.l, accepted_user_friendships_path(@user)
    %li=link_to :inbox.l, user_messages_path(@user)
    -if current_user.admin?
      %li=link_to :admin_dashboard.l, admin_dashboard_path
