-content_for :sidebar do
  = render :partial => 'users/profile_user_info_sidebar'

= rounded_box  :div_class => 'bluegray-bg'  do
  %h3
    =:denied_friendships.l
  .user_list= render :partial => "friendships/friendship", :collection => @friendships
