<label for='poll_question'>
    <%= :question.l %>

</label>
<%= text_field_tag 'poll[question]', nil, :class => 'text' %>

<label>
    <%= :choices.l %>

</label>
<ul class='list' id='options'>
  <% 3.times do %>
  <li>  <%= text_field_tag 'choices[]', nil, :class => 'text' %>
</li>
  <% end %>
</ul>
