<div class='clear'></div>
<br />
<div class='padded'>
  <h2>  <%= :popular_polls.l %>
</h2>
  <ul>
    <% polls.each do |poll| %>
    <li>
            <%= link_to "#{truncate(poll.question, :length => 75)} <small class='quiet'>(#{pluralize poll.votes.count, :votes.l})</small>".html_safe, user_post_path(poll.post.user, poll.post) %>

    </li>
    <% end %>
  </ul>
</div>
