<%= box do %>
<h3><%= :recent_photos.l %>
</h3>
<div class='pagination'><%= paginating_links @photos if @photos.total_pages > 1 %>
</div>
<ul>
  <%  @photos.each do |photo| %>
  <li>  <%= image_tag photo.photo.url(:thumb) %>
</li>
  <% end %>
</ul>
<% end %>

