
- @section = 'posts'
-content_for :sidebar do
  =render :partial => 'forums/community_nav'

= rounded_box  :div_class => 'bluegray-bg hfeed'  do
  .right
    %ul.list.checks
      %li=link_to :write_a_blog_post.l, new_user_post_path({:user_id => current_user})
  %h3
    =:recent_posts.l

  = render :partial => 'posts/post', :collection => @posts      
  
  .pagination=paginating_links @posts
  .clear
